<nav class="navbar navbar-expand-lg mx-5 p-4">
  <%= link_to root_path, class: "navbar-brand d-flex align-items-center gap-2" do %>
    <%= image_tag('OnLibrary_logo.svg', width: 50, height: 50, alt: 'OnLibrary_logo', class: 'd-inline-block') %>
    <span class="h2 mb-0">OnLibrary</span>
  <% end %>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav align-items-center gap-3">
      <li class="nav-item">
        <%= link_to "How to rent your book?", new_book_path, class: "nav-link" %>
      </li>

      <% if user_signed_in? %>
        <li class="nav-item">
          <span class="nav-link disabled"><%= current_user.email %></span>
        </li>
        <li class="nav-item">
          <%= link_to "My Rentals", rentals_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path,
              method: :delete,
              data: { turbo_method: :delete },
              class: "btn btn-outline-secondary" %>
        </li>
      <% else %>
        <li class="nav-item" style="position: relative; z-index: 10;">
          <%= link_to "Log in", new_user_session_path,
              class: "btn btn-primary",
              data: { turbo: false },
              style: "position: relative; z-index: 10; width: 100%;" %>
        </li>

        <li class="nav-item" style="position: relative; z-index: 10;">
          <%= link_to "Sign up", new_user_registration_path,
              class: "btn btn-outline-secondary",
              data: { turbo: false },
              style: "position: relative; z-index: 10; width: 100%;" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
