<nav class="navbar navbar-expand-lg navbar-light bg-light mx-5 p-4">
  <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
    <%= image_tag('OnLibrary_logo.svg', width: 50, height: 50, alt: 'OnLibrary_logo', class: 'd-inline-block align-top mr-2') %>
    OnLibrary
    <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav align-items-center gap-3">
      <li class="nav-item">
        <%# <a class="nav-link" href="#">How to rent your book?</a> %>
        <%= link_to "How to rent your book?", new_book_path, data: { "turbo-method": :get }, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%# <a class="btn btn-primary" href="#">Log in</a> %>
        <%= link_to "Log in", new_user_session_path, data: { "turbo-method": :get }, class: "btn btn-primary" %>
      </li>
      <li class="nav-item">
        <%# <a class="btn btn-outline-secondary" href="#">Sign up</a> %>
        <%= link_to "Sign up", new_user_registration_path, data: { "turbo-method": :get }, class: "btn btn-outline-secondary" %>
      </li>
    </ul>
  </div>
</nav>

<div class="mx-5 p-4">
  <h2>Rent your favorite books</h2>
  <%= form_with url: search_books_path, method: :get, local: true, class: "input-group mb-3" do %>
    <%= text_field_tag :query, params[:query], placeholder: "Type in book title, author name, book genre etc.", class: "form-control" %>
    <div class="input-group-append">
      <%= submit_tag "Search", class: "btn btn-outline-secondary" %>
    </div>
  <% end %>
</div>

<div class="container">
  <h2>Popular Books</h2>

  <div class="row">
    <% @books.each do |book| %>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
          <% if book.image.attached? %>
            <%= image_tag book.image, width: "100%", height: "300", style: "object-fit: cover;" , class: "card-img-top"%>
          <% else %>
            <p class="text-center">Aucune image disponible</p>
          <% end %>
          <div class="card-body">
            <%= render book %>
            <p class="card-title">
              <%= link_to "Show this book", book, class: "btn btn-primary btn-sm" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "Log in", new_user_session_path, data: { "turbo-method": :get }, class: "btn btn-primary" %>
<%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "btn btn-flat" %>
<% if user_signed_in? %>
<%= current_user.email %>
<% end%>
