<h1>Welcome to OnLibrary</h1>

<div id="books">
<h2>This is our fine collection of books</h2>
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  <% end %>
</div>

<%= link_to "Log in", new_user_session_path, data: { "turbo-method": :get }, class: "btn btn-primary" %>
<%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "btn btn-flat" %>
<% if user_signed_in? %>
<%= current_user.email %>
<% end%>
