<div class="container my-5">
    <div class="container my-5">
      <%= link_to "â† Back to Home", root_path, class: "btn btn-outline-secondary mb-3" %>
      <h2 class="mt-6">All Books</h2>

      <div class="row row-cols-2 row-cols-md-4 g-4 my-2">
        <% @books.each do |book| %>
          <div class="col text-start my-5">
            <div class="card h-100 border-0">
              <%= link_to book_path(book) do %>
                <% if book.image.attached? %>
                  <%= image_tag book.image, alt: book.title,
                      class: "card-img-top img-fluid rounded",
                      style: "height: 280px; object-fit: contain; width: 100%; background: transparent;" %>
                <% else %>
                  <div class="text-center py-5 bg-light text-muted">No image</div>
                <% end %>
              <% end %>

              <div class="card-body p-2">
                <h6 class="card-title fw-bold mb-1">
                  <%= truncate(book.title, length: 20) %>
                </h6>
                <p class="card-text text-muted small mb-2"><%= book.author %></p>

                <%= link_to 'View Details', book_path(book), class: "btn btn-sm btn-primary card-btn" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>

  <%= link_to "Log in", new_user_session_path, data: { "turbo-method": :get }, class: "btn btn-primary" %>
  <%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "btn btn-flat" %>
  <% if user_signed_in? %>
  <%= current_user.email %>
  <% end%>
