<div class="container my-5">
  <%= link_to root_path, class: "btn btn-link", style: "position: relative; z-index: 10;" do %>
    <i class="fa-solid fa-chevron-left"></i> Back
  <% end %>
  <!-- ✅ Search Bar -->
  <div class="d-flex justify-content-center">
    <div class="w-100" style="max-width: 800px;">
      <h3>What are you looking for?</h3>
      <%= form_with url: search_books_path, method: :get, local: true, class: "input-group mb-3 my-2 mb-4" do %>
        <%= text_field_tag :query, params[:query], placeholder: "Type in book title, author name, book genre etc.", class: "form-control" %>
        <%= submit_tag "Search", class: "btn btn-primary text-light btn-search" %>
      <% end %>
    </div>
  </div>

  <div class="container my-5">

    <h2 class="mt-6">All Books</h2>

    <div class="row row-cols-2 row-cols-md-4 g-4 my-2">
      <% @books.each do |book| %>
        <div class="col text-start my-5">
          <div class="card h-100 border-0">
            <%= link_to book_path(book) do %>
              <% if book.image.attached? %>
                <%= cl_image_tag book.image.key, alt: book.title,
                    class: "card-img-top img-fluid rounded",
                    style: "height: 280px; object-fit: contain; width: 100%; background: transparent;" %>
              <% else %>
                <div class="text-center py-5 bg-light text-muted">No image</div>
              <% end %>
            <% end %>

            <div class="card-body p-2 ps-5">
              <h6 class="card-title fw-bold mb-1">
                <%= truncate(book.title, length: 20) %>
              </h6>
              <p class="card-text text-muted small mb-2"><%= book.author %></p>
              <%= render "books/availability", book: book %>
              <p style="margin-bottom: 7px; margin-top: 7px; font-size: 15px; font-weight: 500;">
                <%= number_to_currency(book.price, unit: "€") %> /month
              </p>
              <%= link_to 'View Details', book_path(book), class: "btn btn-sm btn-primary card-btn" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
