<div class="container col-xxl-8 px-4 py-5">
  <%= link_to root_path, class: "btn btn-link", style: "position: relative; z-index: 10;" do %>
    <i class="fa-solid fa-chevron-left"></i> Back
  <% end %>

  <div class="row align-items-start g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6" style="margin-top:20px;">
      <%= image_tag @book.image, class: "d-block mx-lg-auto img-fluid", alt: @book.title, width: 300, height: 100, loading: "lazy" %>
    </div>

    <div class="col-lg-6 d-flex flex-column justify-content-between h-100" style="margin-top:20px;">
      <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3"><%= @book.title %></h2>
      <p class="p-name" style="text-decoration-line: underline"><%= @book.author %></p>
      <p class="lead"><%= @book.description %></p>
      <h3 class="fw-bold lh-1 my-5 mb-3">€ <%= @book.price %> /month</h3>

      <% if user_signed_in? %>
        <% if current_user.rentals.where(book: @book).where("rental_end_date IS NULL OR rental_end_date >= ?", Date.current).exists? %>
            <%= link_to 'View My Rentals', rentals_path, class: 'btn btn-primary btn-lg btn-fixed-width' %>
        <% else %>
            <div data-controller="rent-book" class="d-flex flex-column align-items-start gap-2 mt-1">
            <%= render "books/availability", book: @book %>
            <!-- button -->
            <button type="button"
                    class="btn btn-primary btn-lg btn-fixed-width"
                    data-rent-book-target="button"
                    data-action="rent-book#openForm">
              Rent this book
            </button>

            <!-- form -->
            <%= render "rentals/rental_form", book: @book %>
          </div>
        <% end %>
      <% else %>
        <p>Please <%= link_to 'sign in', new_user_session_path %> to rent this book.</p>
      <% end %>

    </div>
  </div>
</div>

<%= render "books/caroussel", book: @book %>

<div style="position: relative; z-index: 9999; margin-top: 20px;">
  <%= link_to 'Login (Test Button)', new_user_session_path, class: 'btn btn-warning' %>
</div>
