<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form form-inputs" style="margin-top: 5rem; margin-bottom: 1rem;">
          <h2 style="padding-bottom: 1rem; padding-top: 1rem;">Log in</h2>

          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email", class: "input" } %>

          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password", class: "input" } %>

          <%= f.input :remember_me,
                      as: :boolean,
                      input_html: { style: "background-color: white; border: 1px solid black;" } if devise_mapping.rememberable? %>

          <div class="login-with">
            <div class="form-actions button-confirm su-btn" style="margin-top: 1rem; margin-bottom: 2rem;">
              <%= f.button :submit, "Log in →" %>
            </div>
          </div>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
